In [1]:
#Que 1 (i)
a='minal'
type(a)

str

In [2]:
#Que 1 (ii)
b=[1,2,'minal',6.6]
type(b)

list

In [3]:
#Que 1 (iii)
c=66.3
type(c)

float

In [38]:
#Que 1 (iv)
d=(1,2,3,4,5)
type(d)

tuple

In [10]:
#Que 2 (i)
var1 = 'minu'
type(var1)

str

In [12]:
#Que 2 (ii)
var2 = '[ DS , ML , Python]'
type(var2)

str

In [15]:
#Que 2 (iii)
var3 = [ 'DS' , 'M' , 'Python' ]
type(var3)

list

In [16]:
#Que 2 (iv)
var4 = 1
type(var4)

int

In [17]:
#Que 3 (i) : Arithmetic Division Operator - Use for division
e=1/4
print(e)

0.25

In [44]:
#Que 3 (ii) : Arithmetic Modulus Operator. Use to calculate the percentage
f=10%100
print(f)

10

In [40]:
#Que 3 (iii) : Arithmetic Operator - Floor Division
g=10//4
print(g)

2

In [45]:
#Que 3 (iv) : Arithmetic Operator-exponential operator. Use to calculate the power of first value
h=10**3
print(h)

1000

In [2]:
#Que 4
i=[1,2,6.8,'triangle',45,0,'True',55.6,500,60536,False]
for s in i:
    print (type(s))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'int'>
<class 'bool'>

In [3]:
#Que 5
a=2000
b=20
while a%b==0:
    print(a/b)
    break

100.0

In [2]:
c

100.0

In [6]:
#Que 6
j=[5,15,30,35,40,45,50,55,65,60,75,21,807,327,412,333,452,330,84,315,150,183,642,250,555]
for i in j:
    if i%3==0:
        print(i, " is divisible by 3")
    else:
        print(i, " is not divisible by 3")

5  is not divisible by 3
15  is divisible by 3
30  is divisible by 3
35  is not divisible by 3
40  is not divisible by 3
45  is divisible by 3
50  is not divisible by 3
55  is not divisible by 3
65  is not divisible by 3
60  is divisible by 3
75  is divisible by 3
21  is divisible by 3
807  is divisible by 3
327  is divisible by 3
412  is not divisible by 3
333  is divisible by 3
452  is not divisible by 3
330  is divisible by 3
84  is divisible by 3
315  is divisible by 3
150  is divisible by 3
183  is divisible by 3
642  is divisible by 3
250  is not divisible by 3
555  is divisible by 3

In [1]:
#Que 7 
#Mutable : Allow changes in value
k = [1, 2, 3, 4, 5, 6, True]
k[3]=30

In [2]:
k

[1, 2, 3, 30, 5, 6, True]

In [5]:
#Imutable : Do not allow changes in value
l='mina'
l[2]

'n'

In [8]:
l[2]= 'u'

TypeError: 'str' object does not support item assignment